body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.d-flex {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent scroll on body */
}

#sidebar {
    position: sticky;
    top: 0;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scrollable content */
    width: 250px;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#sidebar h4 {
    font-weight: 500;
}

#sidebar a.nav-link {
    font-weight: 400;
}

.container {
    flex: 1; /* Allow container to take remaining space */
    margin-left: 250px; /* Offset for sidebar width */
    overflow-y: auto; /* Scrollable content */
    padding: 20px; /* Optional padding */
}
